# Should Match
# Should only look inside an npmrc
//npm.pkg.github.com/:_authToken=6bM3d5xWYGcmXM01Ht77f4ga8xESVerk13uuS

# Should Match
# Should only look inside an npmrc
Handle the match for NPM Private Module Auth Token above

